@font-face {
    font-family: "Segoe UI Bold";
    src: url("/src/fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("/src/fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")
        format("embedded-opentype"),
      url("/src/fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
      url("/src/fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI Regular";
    src: url("/src/fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("/src/fonts/fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")
        format("embedded-opentype"),
      url("/src/fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
      url("/src/fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
}
  
@font-face {
    font-family: "SegoeUIItalic";
    src: url("/src/fonts/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("/src/fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/src/fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
      url("/src/fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
  
@font-face {
    font-family: "SegoeUILight";
    src: url("/src/fonts/SegoeUILight/SegoeUILight.eot");
    src: url("/src/fonts/SegoeUILight/SegoeUILight.eot?#iefix")
        format("embedded-opentype"),
      url("/src/fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
      url("/src/fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
  
@font-face {
    font-family: "Segoe UI SemiBold";
    src: url("/src/fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("/src/fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("/src/fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
      url("/src/fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
}
  
  